@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-image: url(../../assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.gif{
    background-image: url(../../assets/food.gif);
    background-size: cover;
    border-radius: 0 30px 30px 0;
    height: 100vh;
}

.henryFood{
    /* background-image: url(../../assets/bg.jpg); */
    display: grid;
    justify-content: center;
    align-content: center;

}

.henry{
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}

.food{
    color: aliceblue;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    font-weight: bold;
}

.button{
    width: 100%;
    padding: 25px;
    border: none;
    border-radius: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(204, 211, 218);
}